<div class="row">

  <div class="col-xs-2">
    <button class="btn btn-success btn-block" (click)="onPV()">PV</button>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-success btn-block" (click)="onSV()">SV</button>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-success btn-block" (click)="onPaid()">Paid</button>
  </div>
  <div class="col-xs-2">
    <button class="btn btn-success btn-block" (click)="onSiEmp()">SI EMP</button>
  </div>
  <!-- <div class="col-xs-12">
    <hr>
    <h1>{{candidates.name}}</h1>
  </div> -->
</div>

<div class="col-xs-12">
  <router-outlet></router-outlet>
</div>
