<div class="row">

  <div class="col-xs-12">
    <hr> 
    <h1>PV</h1>
  </div>

  <div class="col-xs-12">

    <div class="table-responsive">
      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <th>Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>PV Name</th>
            <th>Hours</th>
            <th>Exp Amnt</th>
            <th>Actl Amnt</th>
            <th>Deduct</th>
            <th colspan="2" class="text-center">Deduct Process to SV</th>
            <th>PV COmment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11/11/2017</td>
            <td>1/1/2017</td>
            <td>12/12/2017</td>
            <td>ABC</td>
            <td>40</td>
            <td>2500</td>
            <td>2500</td>
            <td>0</td>
            <td>DPSV1</td>
            <td>DPSV2</td>
            <td>Success1</td>
          </tr>
          <tr>
            <td>10/10/2017</td>
            <td>2/2/2017</td>
            <td>11/11/2017</td>
            <td>XYZ</td>
            <td>40</td>
            <td>3000</td>
            <td>3000</td>
            <td>0</td>
            <td>DPSV1</td>
            <td>DPSV2</td>
            <td>Success2</td>
          </tr>
        </tbody>

      </table>
    </div>
    <!--end of .table-responsive-->

  </div>

</div>



<div class="row">

  <hr>

  <div class="col-xs-12">

    <form [formGroup]="pvForm" (ngSubmit)="onSave()">

      <fieldset>


        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="startDate">Start Date</label>
            <input formControlName="start_date" class="form-control" placeholder="" type="date" useValueAsDate>
          </div>
        </div>
 
        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="telephone">End Date</label>
            <input formControlName="end_date" class="form-control" type="date" useValueAsDate>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="receivedDate">Received Date</label>
            <input formControlName="prime_vendor_paid_date" class="form-control" type="date" useValueAsDate>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="totalHours">Total Hours</label>
            <input formControlName="hours" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="expectedAmount">Expected Amount</label>
            <input formControlName="prime_vendor_amount" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="actualPayment">Actual Payment</label>
            <input formControlName="actualPayment" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="deductions">Deduction</label>
            <input formControlName="deductions" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="deductionToBeSubVendor">Deduction To Be Sub Vendor</label>
            <input formControlName="deductions_to_be_passed_to_sub_vendor" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="comment">Comment</label>
            <textarea formControlName="prime_vendor_comments" class="form-control" rows="5"></textarea>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="status">Status</label>
            <div class="form-group radio">
              <label><input type="radio" value="paid" formControlName="prime_vendor_paid_status">Paid</label>
              
            </div>

            <div class="form-group radio"> 
              <label><input type="radio" value="unpaid" formControlName="prime_vendor_paid_status">Unpaid</label>
              
            </div>

            <div class="form-group radio">
              <label><input type="radio" value="notbepaid" formControlName="prime_vendor_paid_status">Will not be paid</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="invoiceNumber">Invoice Number</label>
            <input formControlName="prime_vendor_invoice_number" class="form-control" placeholder="" type="text">
          </div>
        </div>


      </fieldset>

      <hr>

      <div class="row">

        <div class="col-xs-2">
          <button class="btn btn-success btn-block" type="submit">Save</button>
        </div>
        <div class="col-xs-2 ">
          <button class="btn btn-primary btn-block" (click)="onEdit()">Edit</button>
        </div>
        <div class="col-xs-2 ">
          <button class="btn btn-danger btn-block" (click)="onCancel()">Cancel</button>
        </div>


      </div>

    </form>


  </div>
</div>

<hr>
