<div class="row">

  <div class="col-xs-12">
    <hr>
    <h1>PV</h1>
  </div>

  <div class="col-xs-12">

    <div class="table-responsive">
      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <th>Date</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>PV Name</th>
            <th>Hours</th>
            <th>Exp Amnt</th>
            <th>Actl Amnt</th>
            <th>Deduct</th>
            <th colspan="2" class="text-center">Deduct Process to SV</th>
            <th>PV COmment</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11/11/2017</td>
            <td>1/1/2017</td>
            <td>12/12/2017</td>
            <td>ABC</td>
            <td>40</td>
            <td>2500</td>
            <td>2500</td>
            <td>0</td>
            <td>DPSV1</td>
            <td>DPSV2</td>
            <td>Success1</td>
          </tr>
          <tr>
            <td>10/10/2017</td>
            <td>2/2/2017</td>
            <td>11/11/2017</td>
            <td>XYZ</td>
            <td>40</td>
            <td>3000</td>
            <td>3000</td>
            <td>0</td>
            <td>DPSV1</td>
            <td>DPSV2</td>
            <td>Success2</td>
          </tr>
        </tbody>

      </table>
    </div>
    <!--end of .table-responsive-->

  </div>

</div>



<div class="row">

  <hr>

  <div class="col-xs-12">

    <form id="pvForm" class="clearfix" name="pvForm" action="#">

      <fieldset>


        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="candidateName">Start Date</label>
            <input name="startDate" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="telephone">End Date</label>
            <input name="endDate" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="date">Received Date</label>
            <input name="receivedDate" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="pvCompany">Total Hours</label>
            <input name="totalHours" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="email">Expected Amount</label>
            <input name="expectedAmount" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="actualPayment">Actual Payment</label>
            <input name="actualPayment" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="deduction">Deduction</label>
            <input name="deduction" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="deductionToBeSubVendor">Deduction To Be Sub Vendor</label>
            <input name="deductionToBeSubVendor" class="form-control" placeholder="" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-6">
            <label class="control-label" for="comment">Comment</label>
            <textarea class="form-control" rows="5" name="comment"></textarea>
          </div>
        </div>




        <!-- <div class="form-group">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-primary btn-lg btn-block info">Send</button>
                      </div>
                    </div> -->

      </fieldset>

      <hr>

      <div class="row">

        <div class="col-xs-2">
          <button class="btn btn-success btn-block" (click)="onSave()">Save</button>
        </div>
        <div class="col-xs-2 ">
          <button class="btn btn-primary btn-block" (click)="onEdit()">Edit</button>
        </div>
        <div class="col-xs-2 ">
          <button class="btn btn-danger btn-block" (click)="onCancel()">Cancel</button>
        </div>


      </div>

    </form>


  </div>
</div>

<hr>
