<div class="row">

  <div class="col-xs-12">
    <hr>
    <h1>SI EMP</h1>
  </div>

  <div class="col-xs-12">

    <div class="table-responsive">
      <table class="table table-bordered table-hover">

        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total</th>
            <th>Source's</th>
            <th>Sales Emp</th>
            <th>Recruiter</th>
            <th>Manager 1</th>
            <th>Manager 2</th>
            <th>Status</th>
            <th>Date</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>11/11/2015</td>
            <td>1/1/2017</td>
            <td>500</td>
            <td>100</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>good to go</td>
            <td>30/10/17</td>
            <td>*</td>
          </tr>
          <tr>
            <td>10/10/2015</td>
            <td>5/5/2017</td>
            <td>1000</td>
            <td>200</td>
            <td>20</td>
            <td>20</td>
            <td>20</td>
            <td>20</td>
            <td>good to go</td>
            <td>25/10/17</td>
            <td>*</td>
          </tr>
        </tbody>

      </table>
    </div>
    <!--end of .table-responsive-->

  </div>

</div>

<hr>

<div class="row">
  <div class="col-xs-6">
    <a class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Name</h4>
      </div>
      <span class="pull-right">
        <h4 class="list-group-item-heading">% Commission</h4>
      </span>
    </a>
    <a class="list-group-item clearfix left">
      <div class="pull-left">
        <h5 class="list-group-item-heading">Sales Person</h5>
      </div>
      <span class="pull-right">
        <h5 class="list-group-item-heading">x %</h5>
      </span>
    </a>
    <a class="list-group-item clearfix left">
      <div class="pull-left">
        <h5 class="list-group-item-heading">Recruiter</h5>
      </div>
      <span class="pull-right">
        <h5 class="list-group-item-heading">y %</h5>
      </span>
    </a>
    <a class="list-group-item clearfix  left">
      <div class="pull-left">
        <h5 class="list-group-item-heading">Manager 1</h5>
      </div>
      <span class="pull-right">
        <h5 class="list-group-item-heading">z %</h5>
      </span>
    </a>
    <a class="list-group-item clearfix left">
      <div class="pull-left">
        <h5 class="list-group-item-heading">Manager 2</h5>
      </div>
      <span class="pull-right">
        <h5 class="list-group-item-heading">w %</h5>
      </span>
    </a>
  </div>

  <div class="col-xs-6">
    <a class="list-group-item clearfix">
      <div class="pull-left">
        <h4 class="list-group-item-heading">Amount to pay</h4>
      </div>
    </a>
    <a class="list-group-item clearfix">
      <div class="pull-left">
        <h5 class="list-group-item-heading">Sales Person</h5>
      </div>
      <span class="pull-right">
        <button class="btn btn-success" (click)="onPay()">Pay Now</button>
      </span>
    </a>
    <a class="list-group-item clearfix">
      <div class="pull-left">
        <h5 class="list-group-item-heading">Recruiter</h5>
      </div>
      <span class="pull-right">
        <button class="btn btn-success" (click)="onPay()">Pay Now</button>
      </span>
    </a>
    <a class="list-group-item clearfix">
      <div class="pull-left">
        <h5 class="list-group-item-heading">Manager 1</h5>
      </div>
      <span class="pull-right">
        <button class="btn btn-success" (click)="onPay()">Pay Now</button>
      </span>
    </a>
    <a class="list-group-item clearfix">
      <div class="pull-left">
        <h5 class="list-group-item-heading">Manager 2</h5>
      </div>
      <span class="pull-right">
        <button class="btn btn-success" (click)="onPay()">Pay Now</button>
      </span>
    </a>
  </div>

</div>

<hr>
